---
BasedOnStyle: Microsoft
---
Language: Cpp

AccessModifierOffset: -4
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
KeepEmptyLinesAtTheStartOfBlocks: false
PackConstructorInitializers: Never
PointerAlignment: Left
SpaceAfterTemplateKeyword: false
